<html>
<body>

<p>Sr. &lt;Fulano de tal&gt;.</p>

<p>Estamos reestruturando o processo conhecido hoje como &quot;Rod&iacute;zio de Metas&quot; que &eacute; realizado na Reuni&atilde;o da Semana Santa.</p>

<p>Este ano implantaremos um sistema informatizado para preenchimento dos dados referentes as metas de 2015.</p>

<p>Neste sistema, voc&ecirc; ter&aacute; acesso as fichas de metas de todas as comiss&otilde;es de trabalho, podendo realizar o preenchimento delas no per&iacute;odo de XX/XX &agrave; XX/XX.&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

</body>

</html>