<html>
<body>

<h3>IMPORTANTE:</h3>
<h4>Este email se destina ao PRESIDENTE da instituição ${entidade.razaoSocial}, caso você não seja o presidente peço gentilmente que direcione para ele o quanto antes. Gratos.</h4>
 
<hr/>

<h4>Caro Presidente, que a paz de Jesus esteja com você.</h4>

<p>Está se aproximando nossa reunião nacional da semana santa.</p>

<p>Neste ano utilizaremos o sistema de metas que nos possibilitará o acesso aos resultados e um controle continuo e seguro de todas as informações.</p>

<p>Para que o processo do rodizio fique mais fácil, será muito importante que você preencha as fichas previamente e você fara isto online, seguindo o passo a passo que se encontra no link: https://www.youtube.com/watch?v=D81OaF6mirE</p>

<p>O preenchimento pode ser feito por você ou pelos seus dirigentes de instituto, desde que utilizem o seu login e a sua senha.</p>

<p>Para realizar o acesso nesse momento, utilize o seguinte endereço:</p>

<p><a href="http://sistemademetas.concafras.com/">http://sistemademetas.concafras.com/</a></p>

<hr/>

<p><b>Se já realizou esse processo no ano anterior: </b> </p> 

<p>Utilize seu email e senha já cadastrados.</p>

<hr/>

<p><b>Caso tenha esquecido sua senha, utilize o recurso:<b></p>

<p>"Primeiro acesso? Esqueceu sua senha? Entre Aqui"</p>

<hr/>

<p><b> Se esse é o seu primeiro acesso ao sistema, escolha a opção: </p>

<p>"Primeiro acesso? Esqueceu sua senha? Entre Aqui"</p>

<p>No campo de email/cpf utilize o endereço para qual enviamos esse email:</p>

<p>${email}</p>
 
<p>E utilize o botão "Solicitar".</p>

<p>Você receberá uma senha por email, e esta senha será temporária. Deverá ser trocada no primeiro acesso.</p>

<hr/>

<p><b>Se você não é o mais o presidente da instituição, por favor redirecione este email para ele e nos informe. Agradecemos sua colaboração. </b> </p>

<p><b>Se durante o processo de login o seu cadastro não for localizado nos informe para que possamos proceder com a correção.</b></p>

<hr/>

<p>Caso tenha dúvidas não deixe de nos procurar através do e-mail <a href="mailto:sistemadegestaodemetas@gmail.com">sistemadegestaodemetas@gmail.com</a></p>

<p><b>Secretaria Nacional</b><br/>
<b>Sistema de gestão e contratação de metas</b><br/>
<b>CONCAFRAS/pse</b></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

</body>

</html>