<html>
<body>

<h3>Caro(a) facilitador(a) que a paz de Jesus esteja com você!</h3>

<p>É com muita alegria que convidamos você a conhecer o  sistema de gestão e contratação de metas, utilizando o perfil de facilitador.</p>

<p>É muito importante que navegue pelo sistema, conheça a ficha e aproveite este acesso para tirar todas as suas dúvidas.</p>

<p>Estamos empreendendo um grande esforço para que os presidentes das casas espiritas preencham cada ficha antecipadamente, assim você poderá utilizar o tempo de atendimento para conferir o preenchimento e apoia-lo nas dúvidas.</p>

<p>Caso isto não aconteça, ou seja a ficha não esteja preenchida ou completa é importante realizar o preenchimento total da situação atual de cada instituição/centro espírita, pois só assim teremos um panorama geral de como estamos e no próximo período de contratação poderemos ver como evoluímos.</p>

<p>Para realizar o acesso nesse momento, utilize o seguinte endereço:</p>

<p><a href="http://www.contratacaodemetas.com.br/">http://www.contratacaodemetas.com.br/</a></p>

<p>Nesse endereço escolha a opção: </p>

<p>"Primeiro acesso? Esqueceu sua senha? Entre Aqui"</p>

<p>No campo de email/cpf utilize o endereço para qual enviei esse email:</p>

<p>${email}</p>
 
<p>E utilize o botão "Solicitar".</p>

<p>Você receberá uma senha por email, e esta senha será temporária. Deverá ser trocada no primeiro acesso.</p>

<p>Após isso utilize o sistema através do mesmo endereço enviado neste email.</p>

<p>Anexo segue manual que visa facilitar a utilização do sistema, caso tenha dúvidas não deixe de nos procurar através do e-mail <a href="mailto:sistemadegestaodemetas@gmail.com">sistemadegestaodemetas@gmail.com</a></p>

<p><b>Secretaria Nacional</b><br/>
<b>Sistema de gestão e contratação de metas</b><br/>
<b>CONCAFRAS/pse</b></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

</body>

</html>